<h1 class="text-center">Pictures</h1>
<% @pictures.each do |picture| %>
  <div class="user_post panel panel-default">
    <p class="post_contents panel-body"><%= picture.user.name %><br>
    <%= image_tag picture.image.url if picture.image.url %><br>
    <%= picture.content %><br>
      <%= link_to 'Show', picture %>
      <%= link_to 'Edit', edit_picture_path(picture) if @current_user == picture.user %>
      <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } if @current_user == picture.user%>
    <p>
  </div>
<% end %>
